.Rproj.user
.Rhistory
.RData
.Ruserdata
Release.R
vignettes/Introduction.tex
vignettes/Introduction.aux
vignettes/Introduction.out
vignettes/Introduction.log
vignettes/Introduction.html
vignettes/Introduction.toc
dat.xlsx
